Language: Cpp
BasedOnStyle: LLVM
# Enforce Allman brace style
BreakBeforeBraces: Allman
# Other style settings to match project conventions
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
