# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Visual Studio Code
.vscode/

# Binaries
*.exe
*.out
*.dll
*.so
*.dylib

# Libraries
*.a
*.lib

# Other
*.YMETA
*.ymeta
xcuserdata/
*.DS_Store